# Sync repo to the Codeberg mirror
name: Mirror Sync
on:
  workflow_dispatch: # Manual dispatch
  schedule:
    - cron: "0 */12 * * *"
jobs:      
  codebergaagl:
    runs-on: ubuntu-latest
    steps:
      - run: git clone https://github.com/an-anime-team/an-anime-game-launcher
      - uses: Mar0xy/repository-mirroring-action@launch
        with:
          target_repo_url: git@codeberg.org:an-anime-team/an-anime-game-launcher.git
          ssh_private_key: ${{ secrets.CODEBERG_SSH }}
          directory: "an-anime-game-launcher"
          
  codebergabl:
    runs-on: ubuntu-latest
    steps:
      - run: git clone https://github.com/an-anime-team/an-anime-borb-launcher
      - uses: Mar0xy/repository-mirroring-action@launch
        with:
          target_repo_url: git@codeberg.org:an-anime-team/an-anime-borb-launcher.git
          ssh_private_key: ${{ secrets.CODEBERG_SSH }}
          directory: "an-anime-borb-launcher"
          
  codeberghrl:
    runs-on: ubuntu-latest
    steps:
      - run: git clone https://github.com/an-anime-team/the-honkers-railway-launcher
      - uses: Mar0xy/repository-mirroring-action@launch
        with:
          target_repo_url: git@codeberg.org:an-anime-team/the-honkers-railway-launcher.git
          ssh_private_key: ${{ secrets.CODEBERG_SSH }}
          directory: "the-honkers-railway-launcher"
          
  codeberghl:
    runs-on: ubuntu-latest
    steps:
      - run: git clone https://github.com/an-anime-team/honkers-launcher
      - uses: Mar0xy/repository-mirroring-action@launch
        with:
          target_repo_url: git@codeberg.org:an-anime-team/honkers-launcher.git
          ssh_private_key: ${{ secrets.CODEBERG_SSH }}
          directory: "honkers-launcher"
          
  codebergcore:
    runs-on: ubuntu-latest
    steps:
      - run: git clone https://github.com/an-anime-team/anime-game-core
      - uses: Mar0xy/repository-mirroring-action@launchalt
        with:
          target_repo_url: git@codeberg.org:an-anime-team/anime-game-core.git
          ssh_private_key: ${{ secrets.CODEBERG_SSH }}
          directory: "anime-game-core"
          
  codebergsdk:
    runs-on: ubuntu-latest
    steps:
      - run: git clone https://github.com/an-anime-team/anime-launcher-sdk
      - uses: Mar0xy/repository-mirroring-action@launchalt
        with:
          target_repo_url: git@codeberg.org:an-anime-team/anime-launcher-sdk.git
          ssh_private_key: ${{ secrets.CODEBERG_SSH }}
          directory: "anime-launcher-sdk"

  codebergintegration:
    runs-on: ubuntu-latest
    steps:
      - run: git clone https://github.com/an-anime-team/game-integrations
      - uses: Mar0xy/repository-mirroring-action@launchalt
        with:
          target_repo_url: git@codeberg.org:an-anime-team/game-integrations.git
          ssh_private_key: ${{ secrets.CODEBERG_SSH }}
          directory: "game-integrations"
          
  codebergacomp:
    runs-on: ubuntu-latest
    steps:
      - run: git clone https://github.com/an-anime-team/components
      - uses: Mar0xy/repository-mirroring-action@launchalt
        with:
          target_repo_url: git@codeberg.org:an-anime-team/components.git
          ssh_private_key: ${{ secrets.CODEBERG_SSH }}
          directory: "components"
